@import "frappe.css";
* {
  /* reference the color by using @color-name */
  color: @text;
    font-family: 'Iosevka';
    font-size: 14px;
    min-height: 0;
}

window#waybar {
  /* you can also GTK3 CSS functions! */
  background-color: shade(@base, 0.9);
  border: 2px solid alpha(@crust, 0.3);

    padding-top: 5px;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    padding-left: 10px;
    padding-right: 10px;

    background-color: transparent;
    color: inherit;
    font-weight: 800;
    border-top: 4px solid transparent;
    border-bottom: 3px solid transparent;
    border-left: 1px dotted @text;

}

#workspaces button:first-child {
    border-left: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: alpha(@base, 0.2);
    box-shadow: inherit;
    text-shadow: inherit;
    border-bottom: 1px solid @text;
    border-top: 1px solid @text;
}

#workspaces button.focused {
    background: alpha(@teal, 0.2);

    border-left: 1px dotted @text;
    border-right: 1px dotted @text;

    color: @text;
}

#workspaces button.focused + button {
    border-left: none;
}

#workspaces button.focused:first-child {
    border-left: none;
}

#workspaces button.focused:last-child {
    border-right: none;
}


#workspaces button.urgent {
    background-color: @red;
}

#mpd, #idle_inhibitor, #pulseaudio, #network, #cpu, #backlight, #keyboard-state, #battery, #clock, #tray, #custom-power, #window {
    padding-left: 8px;
    padding-right: 8px;
    /*
    padding-top: 5px;
    padding-bottom: 5px;
    */

    background-color: transparent;
    color: inherit;
    font-weight: 600;
    border-top: 4px solid transparent;
    border-bottom: 3px solid transparent;
    border-left: 1px dotted @text;
}

#tray {
    padding-left: 8px;
    padding-right:8px;
    min-width: 40px;
    border-left: 1px dotted @text;
    font-size: 18px;
}

#window {
    min-width: 500px;
}

#clock {
    font-size: 14px;
}
@keyframes scroll {
    from {
        background-position: -33.941125497px 0;
    }
    to {
        background-position: 0 0;
    }
}

