* {
    border: none;
    border-radius: 0;
    font-family: Inter Light;
    font-family: 'Iosevka';
    font-size: 14px;
    min-height: 0;
}
window#waybar {
    background-color: #3d3540;
    border-bottom: 1px dotted #16a085;  /* #a678d3; */
    border-top: 1px dotted #16a085;
    padding-top: 5px;
    color: #16a085; 
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

#workspaces button {
    padding-left: 10px;
    padding-right: 10px;
    /*padding-top: 5px;
    padding-bottom: 5px;*/

    background-color: transparent;
    color: inherit;
    font-weight: 600;
    border-top: 4px solid transparent;
    border-bottom: 3px solid transparent;
    border-left: 1px dotted #16a085;

}

#workspaces button:first-child {
    border-left: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inherit;
    text-shadow: inherit;
    border-bottom: 3px solid #16a085;
    border-top: 3px solid #16a085;
}

#workspaces button.focused {
    background: rgba(0, 0, 0, 0.2);

    border-top: 3px solid #16a085; /* 9730fd; */
    border-bottom: 3px solid #16a085;
    border-left: 1px dotted #16a085;
    border-right: 1px dotted #16a085;

    color: #16a085;
}

#workspaces button.focused + button {
    border-left: none;
}

#workspaces button.focused:first-child {
    border-left: none;
}

#workspaces button.focused:last-child {
    border-right: none;
}


#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mpd, #pulseaudio, #network, #cpu, #memory, #temperature, #clock, #window {
    padding-left: 8px;
    padding-right: 8px;
    /*
    padding-top: 5px;
    padding-bottom: 5px;
    */

    background-color: transparent;
    color: inherit;
    font-weight: 600;
    border-top: 4px solid transparent;
    border-bottom: 3px solid transparent;
    border-left: 1px dotted #16a085;
}

#tray {
    padding-left: 8px;
    padding-right:8px;
    min-width: 40px;
    border-left: 1px dotted #16a085;
    font-size: 18;
}

#window {
    min-width: 500px;
}

#clock {
    font-size: 14px;
}
@keyframes scroll {
    from {
        background-position: -33.941125497px 0;
    }
    to {
        background-position: 0 0;
    }
}
